target/
*.log
*.md
.git
.gitignore
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd
!.mvn
HELP.md
README.md
**/node_modules
**/npm-debug.log
**/test
**/surefire-reports
**/jacoco.exec
**/dependency-reduced-pom.xml
**/build
**/out
**/.idea
**/*.iml
**/*.ipr
**/*.iws
**/.settings
**/.classpath
**/.project
**/.factorypath
**/.springBeans
**/target/
**/test-classes/